*{
    padding: 0px;
    margin: 0px;
}

html, body{
    width: 100%;
    height: 100%;
    background-image: url(../image/fondo2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Sen';
}


header{
    width: 100%;
    height: 15vh;
    background-color: #202040; 
    z-index: 1;
    position: fixed;
}
    .fo {
        color: white;
        text-align: center;
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        text-decoration: none;
    }
        .fo:hover {
            color: #696969;
        }

    #logo{
        width: 30%;
        height: 100%;
        float: left;
        background-color: #202040;
      
    }

    ul {
        margin-top: 30px;
        list-style: none;
        display: flex;
        justify-content: center;
    }
        ul li {
            width: 30px;
            height: 30px;
            background-color: #4C3575;
            color: white;
            font-family: 'Sen';
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 40px 50px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease-in-out;
        }
            ul li img {
                width: 30px;
            }

            ul li:first-child {
                border-radius: 5px 0 0 5px;
            }

            ul li:last-child {
                border-radius: 0 5px 5px 0;
            }

                ul:hover li:nth-child(odd) {
                    transform: skewY(15deg);
                }

                ul:hover li:nth-child(even) {
                    transform: skewY(-15deg);
                }


    #barra-bus{
        width: 40%;
        height: 100%;
        float: left;
        background-color: #202040;
    }
        #busqueda:focus {
            border: none;
        }

        #busqueda{
           
            width: 80%;
            height: 30%;
            border: none;
            border-radius: 20px;
            font-family: 'Lato';
            display: block;
            margin: auto;  
            display: grid;
            justify-content: center;
            align-content: center;
            text-align: center;
            margin-top: 30px;
        }

    #espacio{
        width: 4%;
        height: 100%;
        float: left;
        background-color: #202040;
    }

    #foro{
        width: 8%;
        height: 100%;
        float: left;
        background-color: #202040;
    }

    #cre-foro{
        width: 10%;
        height: 100%;
        float: left;
        background-color: #202040;
    }


    #perfil{
        width: 8%;
        height: 100%;
        float: left;
        background-color: #202040;
    }

            #imp{   
                width: 50px;
                height: auto;
                border-radius: 50%;
                border: 5px solid #3F0071;
                margin-top: 15px ;  
                margin-left: 20px;

        }

main{
    width: 100%;
    height: max-content;
    min-height: 45vh;
    margin-top: 15vh;
    float: left;
    z-index: 2;
}

    #as1{
        width: 10%;
        height: 100%;        
        
        float: left;
    }

    #con-se{
        width: 80%;
        height: 100%;        
        margin-left: 10%;
        float: left;
    }

    #as2{
        width: 10%;
        height: 100%;
      
        float: left;
    }

    #con-fo{
        width: 90%;
        height: auto;
        display: block;
        margin: auto;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 32px;
        color: white;
        font-size: 15px;
        display: grid;
        grid-template-rows: 15% 85%;
        padding: 20px 20px;
    }

  table{
    border-spacing: 30px;
  }

    td{
        margin-top: 20%;
        text-align: center;
    }

    .dat-usu{
        
        width: 20%;
    }
    .inf-foro{
        width:60% ;
    }
    .nav-foro{
        
        width: 20%;
    }
           .img-fo{
                width: 40px;
                height: auto;
                border-radius: 50%;
                border: 5px solid #3F0071;   
                           
           } 





footer{
    font-family: 'Sen';
    width: 100%;
    height: 40vh;
    background-color: #202040;
    color: white;
    display: grid;
    grid-template-rows: 90% 10%;
    margin-top: 90%;
    
}

#us {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    padding: 25px;
}

    #desc {
        display: grid;
        grid-template-rows: 20% 80%;
    }

        #desc-tit {
            font-size: 22px;
        }

        #sop-tit {
            font-size: 22px;
        }

        #sop-p {
            color: white;
        }  

        #con-tit {
            font-size: 22px;
        }

        #social a {
            color: white;
            display: grid;
            align-content: center;
            justify-content: center;
            font-size: 15px;
            grid-template-columns: 5% 95%;
            text-decoration: none;
        }

            #social a:hover,
            #social i:hover {
                color: #363636;
            }

#pp-team {
    width: 100%;
    height: 100%;
    background-color: #000;
    text-align: center;
    display: grid;
    align-content: center;
}