*{
    margin: 0px;
    padding: 0%;
}

html,body{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
    font-family: arial;
}

#p1{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 22px;
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#p2{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 22px;
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}
#p3{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 22px;
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
#p4{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 22px;
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#p5{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 22px;
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#I1{
    border-radius: 7px;
    margin-left: 2%;
    background-color: #FCB7AF;
    width: 70%;
    height: 20%;

}
#I2{
    border-radius: 7px;
    margin-left: 2%;
    background-color: #FCB7AF;
    width: 70%;
    height: 20%;

}
#I3{
    border-radius: 7px;
    margin-left: 2%;
    background-color: #FCB7AF;
    width: 70%;
    height: 20%;
}
#I4{
    border-radius: 7px;
    margin-left: 2%;
    background-color: #FCB7AF;
}
#I5{
    border-radius: 7px;
    margin-left: 2%;
    background-color: #c3affc;
    width: 70%;
    height: 20%;

}
#categorias{
    width: 20%;
    height: 100%;
    float: left;
    
   
}

#catego{ 
    width: 80%;
    height: 110%;
    margin: auto;
    background-color: #FCB7AF;
    margin-top: 5%;
}


.select-categorias{
    width: 100%;
    height: 12.5%;
    float: left;
    text-align: center;
}
header{
   
    width: 80%;
    height: 10vh;
    float: left;
    margin-top: 20px;
    
}

#barra-grande{
    width: 87%;
    height: 100%;
    float: left;
    background-color: white;
    border: 0.2px solid black;
    border-radius: 15px;
}



#logo{
    width: 20%;
    height: 100%;
    float: left;        
    text-align: center;
    
}

#img-logo{
    margin-top: 6%;
    width: 80%;
    height: 70%;
    object-fit: contain;
}

#barra{
    width: 70%;
    height: 100%;
    float: left;
    border-radius: 15px; 
    text-align: center;
    border-color: #C6B5F2;
}

#barra-bu{
    margin-top: 2%;
    width: 90%;
    height: 60%;
    border-radius: 15px;
    border-color: #DBDCE6;
    background-color: #DBDCE6;
    font-size: 30px;
    color: #605875;
}

#bus{
    width: 10%;
    height: 100%;
    float: left; 
    text-align: center;       
}

#boton-bus{
    width: 70%;
    height: 50%;
    margin-top: 15%;
    margin-right: 110px;
    border-radius: 15px ;
    background-color: #C6B5F2;
    border-color: #C6B5F2;
    color: white;
    font-size: 100%;
    font-weight:600;
}

#usuario{
    width: 10%;
    height: 100%;
    float: left;        
    text-align: center;
} 
#user-img{
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin-top: 13px;                  
}

main{
    width: 80%;
    height: 110%;
    float: left;
}

#contenido{
    width: 92%;
    min-height: 70%;
    float: left;            
    background-color: #DBDCE6;
    margin: auto;
    margin-top: 30px;
    border-radius: 30px;
}

.categoria{
    width: 20%;
    height: 104vh;
    background-color: #FCB7AF;
    float: left;
    margin-bottom: 5%;
    position: fixed;
}

.info{
    width: 80%;
    height: auto;
    min-height: 40%;
    background-color: #C6B5F2;
    margin-bottom: 5%;
    margin-left: 130px;
    margin-top: 100px;
    float: top 20%;
    float: left 33%;
    border-radius: 15px;

    
}

.proce{
    width: 80%;
    min-height: 40vh;
    background-color: #E6A3AB;
    margin-bottom: 5%;
    margin-left: 130px;
    margin-top: 80px;
    float: top 60%;
    float: left 33%;
    border-radius: 15px;
}

footer{
    margin-top: 10%;
    width: 100%;
    height: 40%;
    float: left;
    background-color: red;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}


#quienes-somos{
    height: 85%;
    width: 33%;
    float: left;
    background-color:rgb(209, 152, 247);
    text-align: center;
    
}
#quien{
    margin-top: 5vh;
}

#con-redes{
    height: 85%;
    width: 34%;
    float: left;
    background-color: rgb(209, 152, 247);
    align-items: center;
    justify-content: center;
    
}

#redes{
    background-color: rgb(209, 152, 247);
    text-align: center;
    margin-top: 4vh;
}

#redes ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

#redes ul li a{
    display: block;
    padding: 0 10px;
    background: #333;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 2);
    transition: .2s;
}

#redes ul:hover a{
    filter: blur(2px);
}

#redes ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, -4);
    filter: none;
}

#redes ul li .facebook:hover{
    background: #3b5999;
}

#redes ul li .instagram:hover{
    background: #e4405f;
}
#redes ul li .twitter:hover{
    background: #55acee;
}
#redes ul li .whatsapp:hover{
    background: #00BB2D;
}
    
   

#Quejas{
    height: 85%;
    width: 33%;
    float: left;
    background-color: rgb(209, 152, 247);
    text-align: center;
}

    #que{
        margin-top: 5vh;
    }

#copi{
    height: 15%;
    width: 100%;
    float: left;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px;
    
}

#correo:hover{
    color: #FCB7AF;
}
