* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navbar {
    background-color: #202040;
}

.navbar-colapsado {
    overflow: hidden;
}

.icon-navbar {
    visibility: hidden;
}

footer {
    background-color: #202040;
    font-family: 'Sen';
}

/* ESTILOS PARA TAMAÑO DE CELULAR */
@media screen and (max-width: 600px) {
    /* SECCION DE HEADER */
    #navbar {
        display: grid;
        grid-template-columns: 45% 55%;
        align-items: center;
    }
        /* SECCION DE NAVBAR */
        .navbar-colapsado .nav-item {
            display: none;
        }

        .navbar-colapsado.responsive {
            position: relative;
        }

        .navbar-colapsado.responsive .nav-item {
            float: none;
            display: block;
            text-align: left;
        }

            /* ICONO HAMBURGUESA */

            .navbar-colapsado a.icon-navbar {
                float: left;
                display: block;
            }

            .navbar-colapsado.responsive a.icon-navbar {
                position: absolute;
            }

            .icon-navbar svg{
                visibility: visible;
                text-decoration: none;
                color: white;
                height: 25px;
                width: 25px;
                font-size: 5px;
            }
                .icon-navbar svg:hover {
                    transition: 0.3s all ease-in-out;
                    color: #F3AA20;
                }

            /* LOGO */
            #logo-lista {
                display: flex;
                justify-content: start;
                align-items: center;
                list-style: none;
                padding: 5px;
            }
                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                #logo-lista li {
                    width: 20px;
                    height: 20px;
                    background-color: #4C3575;
                    font-size: 12px;   
                    font-family: 'Sen';
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: transform 0.3s ease-in-out;
                }
                
                    #logo-lista li #logo-img {
                        width: 20px;
                    }

                    #logo-lista a {
                        color: #fff;
                        text-decoration: none;
                    }

                    #logo-lista li:first-child {
                        border-radius: 2px 0 0 2px;
                    }
                    
                    #logo-lista li:last-child {
                        border-radius: 0 2px 2px 0;
                    }
                        #logo ul:hover li:nth-child(odd) {
                            transform: skewY(15deg);
                        }
                        #logo ul:hover li:nth-child(even) {
                            transform: skewY(-15deg);
                        }


            /* BARRA DE BUSQUEDA */
            form {
                padding: 5px;
            }

            .bar-nav {
                width: calc(80% - 22px);
                height: auto;
                font-size: 8px;
                border: 1px solid #C2649A;
                border-radius: 2px;
                background-color: transparent;
                transition: 0.3s all ease-in-out;
            }
                .bar-nav::placeholder {
                    padding: 2px;
                    font-family: 'Sen' ;
                    color: #797979;
                }

                    .bar-nav:focus {
                        padding: 2px;
                        width: calc(90% - 22px);
                        background-color: white;
                    }

            .btn-nav {
                width: 40px;
                height: auto;
                font-size: 8px;
                font-family: 'Sen';
                background-color: transparent;
                border: 1px solid #C2649A;
                color: #C2649A;
                border-radius: 2px;
            }
                .btn-nav:hover {
                    transition: 0.3s all ease-in-out;
                    color: #F3AA20;
                    border-color: #F3AA20;
                }

            /* AVATAR Y LINKS */
            #avatar {
                display: flex;
                justify-content: end;
                align-items: center;
                padding: 10px;
            }

                /* LINKS */
                #links-user {
                    display: flex;
                    list-style: none;
                }
                    #links-user a {
                        text-decoration: none;
                        color: white;
                        padding: 5px;
                        font-size: 8px;
                        font-family: 'Sen';
                    }
                        #links-user a:hover {
                            transition: 0.3s all ease-in-out;
                            color: #F3AA20;
                        }

                /* AVATAR IMG */
                #avatar-img #tiny-img-profile { 
                    display: grid;
                    justify-content: center;
                    align-items: center;
                }
                    #btn-img {
                        background-color: transparent;
                        border: none;
                    }

                    #tiny-img-profile img {
                        margin: auto;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        object-fit: cover;
                        display: block;
                        transition: 0.3s all ease-in-out;
                    }
                        #tiny-img-profile img:hover {
                            width: 40px;
                            height: 40px;
                        }

    /* SECCION DE FOOTER */
    footer {
        display: grid;
        grid-template-rows: 90% 10%;
    }
        
        /* SECCION 1 */
        #footer-1 {
            display: grid;
            grid-template-rows: 33% 34% 33%;
        }
            .contenedores {
                font-size: 10px;
                color: white;
                padding: 5px;
            }
                .con-tit h4 {
                    font-size: 12px;
                }

                .con-p p {
                    font-size: 10px;
                    text-align: start;
                }
            

                /* LISTA DE ICONOS */
                .sociales {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                    #lista-social {
                        list-style: none;
                        display: grid;
                        
                        display: grid;
                        grid-template-columns: repeat(5, 5%);
                        column-gap: 30px;
                    }

                    #lista-social .icon{ 
                        width: 20px;
                        height: 20px;
                        font-size: 10px;
                        color: #fff;
                    }
                        #lista-social .icon:hover {
                            transition: 0.3s all ease-in-out;
                            color: #F3AA20;
                        }

        /* SECCION 2 */
        #footer-2 {
            color: white;
            font-size: 8px;
            background-color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
        }

}

/*#####################################################################################################*/

/* ESTILOS PARA TAMAÑO DE TABLET */
@media screen and (min-width: 600px) and (max-width: 992px) {
    /* SECCION DE HEADER */
    #navbar {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
    }
        /* SECCION DE NAVBAR */
        .navbar-colapsado .nav-item {
            display: none;
            align-items: center;
        }

        .navbar-colapsado.responsive {
            position: relative;
        }

        .navbar-colapsado.responsive .nav-item {
            float: none;
            display: block;
            text-align: left;
        }

            .navbar-colapsado.responsive a.icon-navbar {
                position: absolute;
            }

            .icon-navbar svg{
                visibility: visible;
                text-decoration: none;
                color: white;
                height: 40px;
                width: 40px;
                font-size: 5px;
            }
                .icon-navbar svg:hover {
                    transition: 0.3s all ease-in-out;
                    color: #F3AA20;
                }

            /* LOGO */
            #logo-lista {
                display: flex;
                justify-content: start;
                align-items: center;
                list-style: none;
                padding: 10px;
            }
                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                #logo-lista li {
                    width: 30px;
                    height: 30px;
                    background-color: #4C3575;
                    font-size: 20px;   
                    font-family: 'Sen';
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: transform 0.3s ease-in-out;
                }
                
                    #logo-lista li #logo-img {
                        width: 30px;
                    }

                    #logo-lista a {
                        color: #fff;
                        text-decoration: none;
                    }

                    #logo-lista li:first-child {
                        border-radius: 5px 0 0 5px;
                    }
                    
                    #logo-lista li:last-child {
                        border-radius: 0 5px 5px 0;
                    }
                        #logo ul:hover li:nth-child(odd) {
                            transform: skewY(15deg);
                        }
                        #logo ul:hover li:nth-child(even) {
                            transform: skewY(-15deg);
                        }

            /* BARRA DE BUSQUEDA */
            form {
                padding: 10px;
            }

            .bar-nav {
                width: calc(75% - 22px);
                height: auto;
                font-size: 14px;
                border: 1.5px solid #C2649A;
                border-radius: 5px;
                background-color: transparent;
                transition: 0.3s all ease-in-out;
            }
                .bar-nav::placeholder {
                    padding: 2px;
                    font-family: 'Sen' ;
                    color: #797979;
                }

                    .bar-nav:focus {
                        padding: 2px;
                        width: calc(85% - 22px);
                        background-color: white;
                    }

            .btn-nav {
                width: 75px;
                height: auto;
                font-size: 14px;
                font-family: 'Sen';
                background-color: transparent;
                border: 1.5px solid #C2649A;
                color: #C2649A;
                border-radius: 5px;
            }
                .btn-nav:hover {
                    transition: 0.3s all ease-in-out;
                    color: #F3AA20;
                    border-color: #F3AA20;
                }

            /* AVATAR Y LINKS */
            #avatar {
                display: flex;
                justify-content: end;
                align-items:center;
                padding: 10px;
            }

                /* LINKS */
                #links-user {
                    display: flex;
                    list-style: none;
                }
                    #links-user a {
                        text-decoration: none;
                        color: white;
                        padding: 5px;
                        font-size: 12px;
                        font-family: "Sen";
                    }
                        #links-user a:hover {
                            transition: 0.3s all ease-in-out;
                            color: #F3AA20;
                        }

                /* AVATAR IMG */
                #avatar-img #tiny-img-profile { 
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                }
                    #btn-img {
                        background-color: transparent;
                        border: none;
                    }

                    #tiny-img-profile img {
                        margin: auto;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        display: block;
                        transition: 0.3s all ease-in-out;
                    }
                        #tiny-img-profile img:hover {
                            width: 60px;
                            height: 60px;
                        }


    /* SECCION DE FOOTER */
    footer {
        display: grid;
        grid-template-rows: 87% 13%;
    }
        
        /* SECCION 1 */
        #footer-1 {
            display: grid;
            grid-template-columns: 33% 34% 33%;
        }
            .contenedores {
                color: white;
                padding: 5px;
            }
                .con-tit h4 {
                    font-size: 30px;
                }

                .con-p p {
                    font-size: 18px;
                    text-align: start;
                }
            

                /* LISTA DE ICONOS */
                .sociales {
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    column-gap: 18px;
                }
                    #lista-social {
                        list-style: none;
                        display: grid;
                        grid-template-columns: repeat(5, 5%);
                        column-gap: 25px;
                    }

                    #lista-social .icon {
                        width: 20px; 
                        height: 20px;
                        color: #fff;
                    }
                        #lista-social .icon:hover {
                            transition: 0.3s all ease-in-out;
                            color: #F3AA20;
                        }

        /* SECCION 2 */
        #footer-2 {
            color: white;
            font-size: 15px;
            background-color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
        }
}

/*####################################################################################################*/

/* ESTILOS PARA TAMAÑO DESKTOP */
@media screen and (min-width: 992px) {
    /* SECCION DE HEADER */
    #navbar {
        display: grid;
        grid-template-columns: 78% 22%;
        justify-content: center;
        align-items: center;
    }
        /* SECCION DE NAVBAR */
        .navbar-colapsado {
            display: grid;
            grid-template-columns: 40% 60%;
        }

            /* ICONO HAMBURGUESA */
            .navbar-colapsado a.icon-navbar {
                float: left;
                display: none;
            }

            /* LOGO */
            #logo-lista {
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
                padding: 10px;
            }

                #logo-lista li {
                    width: 35px;
                    height: 35px;
                    background-color: #4C3575;
                    font-size: 22px;   
                    font-family: 'Sen';
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: transform 0.3s ease-in-out;
                }
                
                    #logo-lista li #logo-img {
                        width: 35px;
                    }

                    #logo-lista a {
                        color: #fff;
                        text-decoration: none;
                    }

                    #logo-lista li:first-child {
                        border-radius: 5px 0 0 5px;
                    }
                    
                    #logo-lista li:last-child {
                        border-radius: 0 5px 5px 0;
                    }
                        #logo ul:hover li:nth-child(odd) {
                            transform: skewY(15deg);
                        }
                        #logo ul:hover li:nth-child(even) {
                            transform: skewY(-15deg);
                        }


            /* BARRA DE BUSQUEDA */
            form {
                padding: 10px;
            }

            .bar-nav {
                width: calc(70% - 20px);
                height: auto;
                font-size: 18px;
                border: 1.5px solid #C2649A;
                border-radius: 5px;
                background-color: transparent;
                transition: 0.3s all ease-in-out;
            }
                .bar-nav::placeholder {
                    font-family: 'Sen' ;
                    color: #797979;
                    padding: 2px;
                }

                    .bar-nav:focus {
                        padding: 2px;
                        width: calc(80% - 20px);
                        background-color: white;
                    }

            .btn-nav {
                width: 100px;
                height: auto;
                font-size: 18px;
                font-family: 'Sen';
                background-color: transparent;
                border: 1.5px solid #C2649A;
                color: #C2649A;
                border-radius: 5px;
            }
                .btn-nav:hover {
                    transition: 0.3s all ease-in-out;
                    color: #F3AA20;
                    border-color: #F3AA20;
                }
            
            /* AVATAR Y LINKS */
            #avatar {
                display: flex;
                justify-content: end;
                align-items:center;
                padding: 10px;
            }

                /* LINKS */
                #links-user {
                    display: flex;
                    list-style: none;
                }
                    #links-user a {
                        text-decoration: none;
                        color: white;
                        padding: 5px;
                        font-size: 14px;
                        font-family: 'Sen';
                    }
                        #links-user a:hover {
                            transition: 0.3s all ease-in-out;
                            color: #F3AA20;
                        }

                /* AVATAR IMG */
                #avatar-img #tiny-img-profile { 
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                }
                    #btn-img {
                        background-color: transparent;
                        border: none;
                    }

                    #tiny-img-profile img {
                        margin: auto;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        display: block;
                        transition: 0.3s all ease-in-out;
                    }
                        #tiny-img-profile img:hover {
                            width: 60px;
                            height: 60px;
                        }


    /* SECCION DE FOOTER */
    footer {
        display: grid;
        grid-template-rows: 87% 13%;
    }
        
        /* SECCION 1 */
        #footer-1 {
            display: grid;
            grid-template-columns: 33% 34% 33%;
        }
            .contenedores {
                color: white;
                padding: 10px;
            }
                .con-tit h4 {
                    font-size: 28px;
                }

                .con-p p {
                    font-size: 18px;
                    text-align: start;
                }
            

                /* LISTA DE ICONOS */
                .sociales {
                    display: grid;
                    justify-content: center;
                    align-items: center;
                }
                    #lista-social {
                        list-style: none;
                        display: grid;
                        grid-template-columns: repeat(5, 5%);
                        column-gap: 30px;
                    }

                    #lista-social .icon {
                        width: 30px; 
                        height: 30px;
                        color: #fff;
                    }
                        #lista-social .icon:hover {
                            transition: 0.3s all ease-in-out;
                            color: #F3AA20;
                        }

        /* SECCION 2 */
        #footer-2 {
            color: white;
            font-size: 18px;
            background-color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
        }
}