* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}   

    main {
        list-style: none;
        background-color: #610094;
        color: white;
    }

        #glass-user {
            box-shadow: 0 18px 200px -60px black;
            border-radius: 40px;
            position: relative;
            backdrop-filter: blur(15px);
            border: 2px solid #ffffff40;
            display: flex;
            padding: 20px;
            flex-direction: column;
            font-family: 'Montserrat';
            color: white;
        }
        
            .perfil-pic img {
                margin: auto;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                object-fit: cover;
                display: block;
                box-shadow: 0 10px 60px -10px rgba(13, 28, 309, .5);
            }
        
            #user-nom {
                font-size: 22px;
            }
            
            #social a {
                display: inline-flex;
                width: 55px;
                height: 55px;
                margin: 15px;
                border-radius: 40%;
                align-items: center;
                justify-content: center;
                color: white;
                position: relative;
                flex-shrink: 0;
                text-decoration: none;
            }
        
                .facebook {
                    width: 40px;
                    background: linear-gradient(45deg, rgba(3,18,107,1) 0%, rgba(21,84,189,1) 58%);
                    box-shadow: 0 4 30px rgba(43, 98, 169, 0.5);
                    border-radius: 7px;
                    transition: transform 250ms cubic-bezier(.2,.8,.4,1);
                }
                    .facebook:hover {
                        transform: scale(1.10);
                    }
                    .facebook:active {
                        transform: scale(0.9);
                    }
        
                .twitter {
                    background: linear-gradient(45deg, rgba(4,18,102,1) 23%, rgba(57,131,255,1) 68%);
                    box-shadow: 0 4 30px rgba(19, 127, 212, 0.7);
                    border-radius: 7px;
                    transition: transform 250ms cubic-bezier(.2,.8,.4,1);
                }
                    .twitter:hover {
                        transform: scale(1.10);
                    }
                    .twitter:active {
                        transform: scale(0.9);
                    }
        
                .instagram {
                    background: rgb(89,14,173);
                    background: linear-gradient(45deg, rgba(89,14,173,1) 22%, rgba(236,57,255,1) 48%, rgba(255,57,57,1) 79%);
                    box-shadow: 0 4 30px rgba(120, 64, 190, 0.6);
                    border-radius: 7px;
                    transition: transform 250ms cubic-bezier(.2,.8,.4,1);
                }
                    .instagram:hover {
                        transform: scale(1.10);
                    }
                    .instagram:active {
                        transform: scale(0.9);
                    }
    
    #info-personal-user {
        box-shadow: 0 18px 200px -60px black;
        border-radius: 30px;
        position: relative;
        backdrop-filter: blur(15px);
        border: 2px solid #ffffff40;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-family: 'Montserrat';
    }
        .lista-info-user {
            list-style: none;
        }

    #amigos-user {
        box-shadow: 0 18px 200px -60px black;
        border-radius: 30px;
        position: relative;
        backdrop-filter: blur(15px);
        border: 2px solid #ffffff40;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-family: 'Montserrat';
    }
        .amigos-pic img {
            margin: auto;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            display: block;
        }

        #perfil-pic {
            width: 200px;
            height: auto;
        }

/* ESTILOS PARA TAMAÑO DE CELULAR */
@media screen and (max-width: 600px) {

    /* CONTENEDOR PADRE */
        #glasses {
            padding: 10px;
        }
            /* SECCION DE USUARIO */
            #glass-user {
                
            }
                /* IMAGEN DE USUARIO */
                .perfil-pic {
                    display: flex;
                    padding-bottom: 10px;
                    align-items: start;
                    justify-content: start;
                }
                    .perfil-pic img {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        object-fit: cover;
                        display: block;
                    }

                /* INFO USUARIO */
                #info {
                    text-align: center;
                    font-size: 10px;
                    display: grid;
                    gap: 3px;
                }
                    #user-nom {
                        font-size: 15px;
                    }

                    #social {
                        display: grid;
                        grid-template-columns: 33% 34% 33%;
                    }
                    
                        #social a {
                            width: 40px;
                            height: 40px;
                        }

            /* SECCION DE LA INFORMACION */
            #glasses-lat {
                display: grid;
            }
                /* INFO USUARIO */
                #info-personal-user {
                    padding: 10px;
                    border-radius: 20px;
                }
                    .text-center {
                        font-size: 12px;
                    }

                    .lista-info-user {
                        display: grid;
                        justify-content: start;
                        font-size: 9px;
                    }

                /* SECCION DE AMIGOS */
                #amigos-user {
                    border-radius: 20px;
                    padding: 10px;
                }
                    #con-amigos {
                        display: grid;
                    }

                    #con-amigos p {
                        font-size: 10px;
                    }
                    
                    .amigos-pic img {
                        width: 40px;
                        height: 40px;
                    }
                        .hijos {
                            display: grid;
                            grid-template-columns: 30% 60%;
                            padding: 5px;
                            align-items: center;
                        }

            
        /* BOTON DE VER MAS */
        .btn-vm {
            display: flex;
            justify-content: center;
            padding: 10px;
        }
        
        .btn-vm a {
            padding: 2px;
            text-align: center;
            font-size: 12px;
            border: 1px solid #00b159;
            border-radius: 2px;
            color: #00b159;
        }
            .btn-vm a:hover {
                transition: 0.2s all ease-in-out;
                color: aqua;
                border: 1px solid aqua;
            }

}

/*========================================================================*/

/* ESTILOS PARA TAMAÑO DE TABLET */
@media screen and (min-width: 600px) and (max-width: 992px) {
    /* CONTENEDOR PADRE */
    #glasses {
        padding: 10px;
    }
        /* SECCION DE USUARIO */
        #glass-user {
            
        }
            /* IMAGEN DE USUARIO */
            .perfil-pic {
                display: flex;
                padding-bottom: 10px;
                align-items: start;
                justify-content: start;
            }
                .perfil-pic img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                    display: block;
                }

            /* INFO USUARIO */
            #info {
                text-align: center;
                font-size: 10px;
                display: grid;
                gap: 3px;
            }
                #user-nom {
                    font-size: 15px;
                }

                #social {
                    display: grid;
                    grid-template-columns: 33% 34% 33%;
                }
                
                    #social a {
                        width: 40px;
                        height: 40px;
                    }

        /* SECCION DE LA INFORMACION */
        #glasses-lat {
            display: grid;
        }
            /* INFO USUARIO */
            #info-personal-user {
                padding: 10px;
                border-radius: 20px;
            }
                .text-center {
                    font-size: 35px;
                }

                .lista-info-user {
                    display: grid;
                    justify-content: start;
                    font-size: 9px;
                }

            /* SECCION DE AMIGOS */
            #amigos-user {
                border-radius: 20px;
                padding: 10px;
            }
                #con-amigos {
                    display: grid;
                }

                #con-amigos p {
                    font-size: 30px;
                }
                
                .amigos-pic img {
                    width: 120px;
                    height: 120px;
                }
                    .hijos {
                        display: grid;
                        grid-template-columns: 25% 75%;
                        padding: 5px;
                        align-items: center;
                    }

        
    /* BOTON DE VER MAS */
    .btn-vm {
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    
    .btn-vm a {
        padding: 2px;
        text-align: center;
        font-size: 32px;
        border: 1.5px solid #00b159;
        border-radius: 5px;
        color: #00b159;
    }
        .btn-vm a:hover {
            transition: 0.2s all ease-in-out;
            color: aqua;
            border: 1px solid aqua;
        }
}

/*========================================================================*/

/* ESTILOS PARA TAMAÑO DESKTOP */
@media screen and (min-width: 992px) {

}