* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    float: left;
    background-image: url(../image/fondo2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Sen';
}

    header {
        width: 100%;
        height: 15%;
        background-color: #202040;
        display: grid;
        align-content: center;
    }

        ul {
            list-style: none;
            display: flex;
            justify-content: center;
        }
            ul li {
                width: 40px;
                height: 40px;
                background-color: #4C3575;
                color: white;
                font-family: 'Sen';
                font-size: 22px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 40px 50px rgba(0, 0, 0, 0.2);
                transition: transform 0.3s ease-in-out;
            }
                ul li img {
                    width: 40px;
                }

                ul li:first-child {
                    border-radius: 5px 0 0 5px;
                }

                ul li:last-child {
                    border-radius: 0 5px 5px 0;
                }

                    ul:hover li:nth-child(odd) {
                        transform: skewY(15deg);
                    }

                    ul:hover li:nth-child(even) {
                        transform: skewY(-15deg);
                    }

    main {
        width: auto;
        height: auto;
        padding: 20px;
    }

        #glass {
            width: 60%;
            height: auto;
            display: block;
            margin: auto;
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
            -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
            border: 1px solid rgba(255, 255, 255, 0.18);
            border-radius: 32px;
            color: white;
            font-size: 15px;
            display: grid;
            grid-template-rows: 15% 85%;
            padding: 20px 20px; 
        }
            #tit {
                text-align: center;
                font-size: 35px;
                padding: 20px;
            }

            #login {
                display: grid;
                grid-template-columns: 50% 50%;
                align-content: flex-end;
            }

                form {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column; 
                    position: relative;
                    z-index: 10;
                    text-align: center;
                    align-items: center;
                }
                    #form-log a {
                        color: white;
                        font-size: 12px;
                        display: flex;
                        text-align: right;
                    }
                        #form-log a:hover {
                            color: #696969; 
                        }

                    input {
                        padding: 10px 10px;
                        border: none;
                        margin: 10px 0;
                        width: calc(80% - 22px);
                        text-align: center;
                        font-size: 12px;
                        font-family: 'Sen';
                        background-color: #0F4C75;
                        border-radius: 2px;
                        color: #292929;
                        transition: 0.3s all ease-in-out;
                    }

                        input::placeholder {
                            color: #fff;
                            transition: 0.3s all ease-in-out;
                        }

                            input:focus::placeholder {
                                color: #393939;
                            }

                            input:focus,
                            input:not(:placeholder-shown) {
                                width: calc(90% - 22px);
                                background-color: rgba(255,255,255,0.9);
                            }

                        #sub {
                            font-size: 25px;
                            width: 225px;
                            height: auto;
                            background-color: #242F9B;
                            display: block;
                            margin: auto;
                            border: none;
                            border-radius: 12px;
                            color: white;
                            cursor: pointer;

                        }
                            #sub:hover {
                                background-color: #646FD4;
                            }
                #img {
                    width: 50%;
                    height: auto;
                    display: block;
                    margin: auto;
                    align-content: flex-end;
                }
            
            
    footer {
        width: 100%;
        height: auto; 
        background-color: #202040;
        color: white;
        display: grid;
        grid-template-rows: 90% 10%;
    }
        #us {
            display: grid;
            grid-template-columns: 33% 34% 33%;
            padding: 25px;
        }

            #desc {
                display: grid;
                grid-template-rows: 20% 80%;
            }

                #desc-tit {
                    font-size: 22px;
                }

                #sop-tit {
                    font-size: 22px;
                }

                #sop-p {
                    color: white;
                }  

                #con-tit {
                    font-size: 22px;
                }

                #social a {
                    color: white;
                    display: grid;
                    align-content: center;
                    justify-content: center;
                    font-size: 15px;
                    grid-template-columns: 5% 95%;
                }

                    #social a:hover,
                    #social i:hover {
                        color: #363636;
                    }

        #pp-team {
            width: 100%;
            height: 100%;
            background-color: #000;
            text-align: center;
            display: grid;
            align-content: center;
        }