* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    float: left;
    background: linear-gradient(to right, #480066, #0910A8);
    font-family: 'Sen';
}

    header {
        background-color: #202040;
    }

        #nav-bar {
            display: grid;
            grid-template-columns: 90% 10%; 
        }

        #logo{
            float: left;
            background-color: #202040;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #logo ul {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            #logo ul li {
                width: 50px;
                height: 50px;
                background-color: #4C3575;
                color: white;
                font-family: 'Sen';
                font-size: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
                transition: 0.3s ease-in-out;
            }
                #img-logo img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                #logo ul li img {
                    width: 50px;
                    height: 50px;
                }

                #logo ul li:first-child {
                    border-radius: 5px 0 0 5px;
                }

                #logo ul li:last-child {
                    border-radius: 0 5px 5px 0;
                }

                    #logo ul:hover li:nth-child(odd) {
                        transform: skewY(15deg);
                    }

                    #logo ul:hover li:nth-child(even) {
                        transform: skewY(-15deg);
                    }

                    #nav-links {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                        #nav-links a {
                            font-size: 15px;
                            color: white;
                            transition: 0.2s all ease-in-out;
                        }
                            #nav-links a:hover {
                                font-size: 16px;
                                color: darkorange;
                            }
        #menu-perfil {
            display: flex;
            justify-content: end;
            align-items: center;
            padding: 15px;
            position: relative;
        }
            #menu-perfil a {
                color: #fff;
                text-decoration: none;
            }
            
            #opciones-menu {
                display: none;
                overflow: hidden;
                box-shadow: 2px 2px 5px;
                position: absolute;
                min-width: 100px;
                margin-top: 110px;
                transition: 0.3s all ease-in-out;
            }
                #menu-perfil:hover #opciones-menu {
                    display: grid;
                    align-items: flex-end;
                }
                #menu-perfil #opciones-menu ul {
                    padding: 0px;
                    margin-top: 0px;
                    list-style: none;
                    background-color: #055dc8d5;
                }
                    #opciones-menu a {
                        color: #fff;
                        display: grid;
                        align-items: flex-end;
                        padding: 5px;
                        text-decoration: none;
                        transition: .2s all ease-in-out;
                    }
                    
                    #opciones-menu a:hover {
                        color: darkorange;
                        background-color: #156fdcd5;
                    }

            #imp {   
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
                padding: 15px;
            }

    main {
        text-align: center;
    }
        #tit {
            font-weight:900;
            font-size: 80px;
            font-family: 'Bebas Neue';
            letter-spacing: 2px;
            padding: 30px;
            background: -webkit-linear-gradient(143deg, rgba(2,51,181,1) 0%, rgba(16,255,248,1) 100%); 
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
        
        .sub-tit {
            text-align: center;
            font-size: 18px;
            font: lighter;
        }

    #glass {
        width: 60%;
        height: auto;
        display: block;
        margin: 40px auto;
        float: center;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 32px;
        color: white;
        padding: 20px;
    }   

    .secc {
        padding: 15px;
    }
    .nom-foro {
        display: grid;
        justify-content: center;
    }
        .inp {
            width: 250px;
            height: 25px;
            margin: 10px;
            font-size: 14px;
            font-family: 'Sen';
            background-color: transparent;
            border: 1px solid cyan;
            color: #fff;
            transition: 0.3s all ease-in-out;
            text-align: center;
        }
            .inp:focus {
                width: 450px;
                height: 25px;
                background-color: #0F4C75;
            }

            .inp::placeholder {
                color: #fff;
            }
            
    .desc-foro {
        display: grid;
        justify-content: center;
    }
        textarea {
            width: 250px;
            height: 25px;
            resize: none;
            margin: 10px;
            font-size: 14px;
            font-family: 'Sen';
            background-color: transparent;
            border: 1px solid cyan;
            color: #fff;
            transition: 0.3s all ease-in-out;
            text-align: center;
        }
            textarea:focus {
                width: 450px;
                height: 300px;
                background-color: #0F4C75;
            }

            textarea::placeholder {
                display: flex;
                color: #fff;
            }

    .img-foro {
        display: grid;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
    }

        .img-foro #select-foto {
            display: block;
            margin: auto;
        }
            #select-foto {
                background-color: #0F4C75;
                font-family: 'Sen';
                font-size: 15px;
                width: 300px;
                height: auto;
                padding: 20px;
                border: 1px solid cyan;
                border-radius: 2px;
            }
            
    .btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
            .btn {
                background-image: linear-gradient(to left, #314755 0%, #26a0da  51%, #314755  100%);
                margin: 10px;
                padding: 15px 45px;
                text-align: center;
                text-transform: uppercase;
                transition: 0.4s;
                background-size: 200% auto;
                color: white;
                border-radius: 10px;
                display: block;
                border: none;
                font-family: 'Sen';
                box-shadow: 0 5px 5px 5px rgba(0, 0, 0, .09);
            }
                .btn:hover {
                    background-position: right center;
                    color: #fff;
                    text-decoration: none;
                }

    footer {
        background-color: #202040;
        color: white;
        display: grid;
        grid-template-rows: 90% 10%;   
    }
        #us {
            display: grid;
            grid-template-columns: 33% 34% 33%;
            padding: 25px;
        }
            .subtitles {
                font-size: 20px;
                text-align: center;
                height: auto;
            }
    
            #desc {
                display: grid;
                row-gap: 15px;
            }
    
            #soporte {
                display: grid;
            }
                #sop-p a {
                    transition: 0.2s all ease-in-out;
                    color: #fff;
                }
                    #sop-p a:hover {                    
                        color: darkorange;
                    }   
    
            #redes-sociales {
                display: flex;
                justify-content: space-around;
            }
                .icon {
                    width: 25px;
                    height: 25px;
                }
    
                .sociales-f {
                    width: 40px;
                    height: 40px;
                    display: inline-flex;
                    border-radius: 40%;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    transition: all .2s;
                }
                    .sociales-f a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                    }
    
                    .sociales-f:hover {
                        transform: scale(1.2) translateY(-5px);
                    }
                
                    #facebook {
                        background: rgb(0,8,78);
                        background: linear-gradient(143deg, rgba(0,8,78,1) 10%, rgba(0,41,238,1) 100%); 
                    }
    
                    #instagram {
                        background: rgb(89,14,173);
                        background: linear-gradient(343deg, rgba(89,14,173,1) 10%, rgba(255,57,57,1) 100%); 
                    }
    
                    #whatsapp {
                        background: rgb(19,110,0);
                        background: linear-gradient(143deg, rgba(19,110,0,1) 0%, rgba(103,255,151,1) 100%); 
                    }
    
                    #twitter {
                        background: rgb(2,51,181);
                        background: linear-gradient(143deg, rgba(2,51,181,1) 0%, rgba(16,255,248,1) 100%); 
                    }
            #pp-team {
                font-size: 15px;
                background-color: #000;
                display: flex;
                justify-content: center;
                align-content: center;
                padding: 10px;
            }
                    
@media screen and (max-width:600px) {
    
    #nav-bar {
        display: grid;
        grid-template-columns: 70% 30%;
    }
        #logo ul li {
            width: 30px;
            height: 30px;
            font-size: 18px;
        }

        #logo #img-logo img {
            width: 30px;
            height: 30px;
        }

    #tit {
        font-size: 50px;
    }
    
    #glass {
        width: 80%;
        margin: 50px auto;
    }
        .inp:focus {
            width: 300px;
        }

        #inp-desc:focus {
            width: 300px;
            height: 250px;
        }
            
    #us {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}

@media screen and (min-width:601px) and (max-width:950px) {
    
    #tit {
        font-size: 60px;
    }

    #glass {
        width: 70%;
        margin: 50px auto;
    }
        .inp:focus {
            width: 450px;
            height: auto;
        }

        #inp-desc:focus {
            width: 450px;
            height: 350px;
        }

    #us {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}