*{
    margin:0px;
    padding:0px;
}

html,body{
    width:100%;
    height:100%;
    background-color:black;
}

header{
    width: 100%;
    height: 20%;
    color:darkturquoise;
    text-align:center;
    background-color:yellowgreen;
}

main{
    width: 100%;
    height: 60%;
    background-color:#202060;

}
article{
    width: 50%;
    height: 80%;
    float:left;
    background-color: aqua;
}
#a{
    width: 50%;
    height: 80%;
    float:left;
    background-color: red;
}

#a2{
    width: 100%;
    height: 20%;
    float:left;
    background-color: rgb(25, 0, 255);
}

footer{
    width: 100%;
    height: 20%;
    background-color:#B030B0;
}