*{
    padding:0px;
    margin:0px;
}

body,html{
    width:100%;
    height: 110%;
    background-color: black;
}

header{
    width: 100%;
    height: 12%;
    float: left;
    background-color: white;
}

#s1{
    width: 10%;
    height: 100%;
    float: left;
    background-color: rgb(175, 13, 13);
}

#s2{
    width: 20%;
    height: 100%;
    float: left;
    background-color: rgb(13, 175, 13);
}

#na1{
    width: 50%;
    height: 100%;
    float: left;
    background-color: rgb(175, 13, 148);
}

#na2{
    width: 20%;
    height: 100%;
    float: left;
    background-color: rgb(16, 13, 175);
}

main{
    width:100%;
    height:auto%;
    float: left;
    background-color: rgb(10, 10, 10);
}

#ar1{
    width: 15%;
    height: 10%;
    float: left;
    background-color: rgb(228, 224, 13);
}

#ar2{
    width: 25%;
    height: 10%;
    float: left;
    background-color: rgb(13, 228, 228);
}

#ar3{
    width: 50%;
    height: 10%;
    float: left;
    background-color: rgb(49, 228, 13);
}

#ar4{
    width: 10%;
    height: 10%;
    float: left;
    background-color: rgb(228, 13, 163);
}

#ar5{
    width: 33%;
    height: auto;
    float: left;
    background-color: rgb(17, 13, 228);
}

#ar6{
    width: 34%;
    height: auto;
    float: left;
    background-color: rgb(228, 153, 13);
}

#ar7{
    width: 33%;
    height: auto%;
    float: left;
    background-color: rgb(228, 45, 13);
}


footer{
    width: 100%;
    height: 25%;
    float: left;
    background-color: rgb(255, 255, 255);
}


#s3{
    width: 33%;
    height: 100%;
    float: left;
    background-color: brown;
}

#s4{
    width: 34%;
    height: 100%;
    float: left;
    background-color: rgb(13, 58, 11);
}

#s5{
    width: 33%;
    height: 100%;
    float: left;
    background-color: rgb(14, 37, 68);
}