*{
    padding: 0px;
    margin: 0px;    
}

html{
    width: 100%;
    height: 100%;
}

body{
   
    width: 100%;
    height: 100%;
    background-image: url(../image/fondo2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Sen';
}

td{
    padding: 10px;
}

header{
    width: 100%;
    height: 15vh;
    float: left;
    background-color: #202040;
    position: fixed;
    z-index: 1;
}

    #logo{
        width: 50%;
        height: 100%;
        float: left;
        background-color: #202040;
    }

    ul { 
        margin-top: 30px;
        list-style: none;
        display: flex;
        justify-content: center;
    }
        ul li {
            width: 30px;
            height: 30px;
            background-color: #4C3575;
            color: white;
            font-family: 'Sen';
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 40px 50px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease-in-out;
        }
            ul li img {
                width: 30px;
            }

            ul li:first-child {
                border-radius: 5px 0 0 5px;
            }

            ul li:last-child {
                border-radius: 0 5px 5px 0;
            }

                ul:hover li:nth-child(odd) {
                    transform: skewY(15deg);
                }

                ul:hover li:nth-child(even) {
                    transform: skewY(-15deg);
                }

    #espacio{
        width: 25%;
        height: 100%;
        float: left;
        background-color: #202040;
    }

    #regresar{
        width: 12.5%;
        height: 100%;
        float: left;
        background-color: #202040;
        text-align: center;
    }
        #Regresar{
            text-decoration: none;
            color: white;            
        }

            #Regresar:hover{
                color: #696969;
            }

        #peimg{
                
            width: 50px;
            height: auto;
            border-radius: 50%;
            border: 5px solid #3F0071;
            margin-left: 10px;
            margin-top: 20px;           
    }

        #peimg:hover{
            width: 55px;
        }

    #perfil{
        width: 12.5%;
        height: 100%;
        float: left;
        background-color: #202040;
    }

    #img-foro{
        width: 250px;
        height: auto;           
        border: 5px solid #3F0071;            
        margin-left: 10px;
                 

    }

    

main{
    width: 100%;
    margin-top: 15vh;
    min-height: 45vh;
    height: max-content;
    float: left;    
    z-index: 2;
    margin-top: 120px;
    padding: 20px;
    

}

    #info-foro{
        width:80%;
        min-height: 25vh;
        height: max-content;        
        margin: auto;
        float: center;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 32px;
        color: white;
        font-size: 15px;       
        padding: 20px 40px;
        word-wrap: break-word;
    }

      
    #peimg2{
                
        width: 60px;
        height: auto;
        border-radius: 50%;
        border: 5px solid #3F0071;
        margin-left: 80px; 
   
}

    #img-com{
        width: 40px;
        height: auto;
        border-radius: 50%;
        border: 5px solid #3F0071;
        
    }

input {
    padding: 10px 10px;
    border: none;
    margin: 10px 0;
    width: calc(70% - 22px);
    text-align: center;
    font-size: 12px;    
    font-family: 'Sen';
    background-color: #0F4C75;
    border-radius: 2px;
    color: #292929;
    transition: 0.3s all ease-in-out;

}

    input::placeholder {
        color: #fff;
        transition: 0.3s all ease-in-out;
    }

        input:focus::placeholder {
            color: #393939;
        }

        input:focus,
        input:not(:placeholder-shown) {
          
            background-color: rgba(255,255,255,0.9);
        }

        .th-info-user{
            width: 15%;
            text-align: center;
        }

        button{
            margin-left: 638px;
        }



footer{
    font-family: 'Sen';
    width: 100%;
    height: 40vh;
    background-color: #202040;
    color: white;
    display: grid;
    grid-template-rows: 90% 10%;
    margin-top: 90%;
    
}

#us {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    padding: 25px;
}

    #desc {
        display: grid;
        grid-template-rows: 20% 80%;
    }

        #desc-tit {
            font-size: 22px;
        }

        #sop-tit {
            font-size: 22px;
        }

        #sop-p {
            color: white;
        }  

        #con-tit {
            font-size: 22px;
        }

        #social a {
            color: white;
            display: grid;
            align-content: center;
            justify-content: center;
            font-size: 15px;
            grid-template-columns: 5% 95%;
            text-decoration: none;
        }

            #social a:hover,
            #social i:hover {
                color: #363636;
            }

#pp-team {
    width: 100%;
    height: 100%;
    background-color: #000;
    text-align: center;
    display: grid;
    align-content: center;
}



