*{
    padding: 0px;
    margin: 0px;    
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #480066, #0910A8);
    font-family: 'Sen';
}

header {
    background-color: #202040;
}

    #nav-bar {
        display: grid;
        grid-template-columns: 90% 10%; 
    }

    #logo{
        float: left;
        background-color: #202040;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #logo ul {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            #logo ul li {
                width: 50px;
                height: 50px;
                background-color: #4C3575;
                color: white;
                font-family: 'Sen';
                font-size: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
                transition: 0.3s ease-in-out;
            }
                #img-logo img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                #logo ul li img {
                    width: 50px;
                    height: 50px;
                }

                #logo ul li:first-child {
                    border-radius: 5px 0 0 5px;
                }

                #logo ul li:last-child {
                    border-radius: 0 5px 5px 0;
                }

                    #logo ul:hover li:nth-child(odd) {
                        transform: skewY(15deg);
                    }

                    #logo ul:hover li:nth-child(even) {
                        transform: skewY(-15deg);
                    }

                    #nav-links {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                        #nav-links a {
                            font-size: 15px;
                            color: white;
                            transition: 0.2s all ease-in-out;
                        }
                            #nav-links a:hover {
                                font-size: 16px;
                                color: darkorange;
                            }
        #menu-perfil {
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 15px;
        position: relative;
        }

            #menu-perfil a {
                color: #fff;
                text-decoration: none;
            }

        #opciones-menu {
            display: none;
            overflow: hidden;
            box-shadow: 2px 2px 5px;
            position: absolute;
            min-width: 100px;
            margin-top: 110px;
            transition: 0.3s all ease-in-out;
        }
            #menu-perfil:hover #opciones-menu {
                display: grid;
                align-items: flex-end;
            }
            #menu-perfil #opciones-menu ul {
                padding: 0px;
                margin-top: 0px;
                list-style: none;
                background-color: #055dc8d5;
            }
                #opciones-menu a {
                    color: #fff;
                    display: grid;
                    align-items: flex-end;
                    padding: 5px;
                    text-decoration: none;
                    transition: .2s all ease-in-out;
                }
                
                #opciones-menu a:hover {
                    color: darkorange;
                    background-color: #156fdcd5;
                }

        #imp {   
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            padding: 15px;
        }

    .foro {
        width: 75%;
        height: auto;
        margin: 60px auto;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 32px;
        color: white;
        font-size: 15px;
        padding: 30px;
    }

        .usu-f {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 20px;
            border: 1px solid cyan;
            border-radius: 3px;
        }
            #peimg2 {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
                border: 2px solid #3F0071;
                transition: 0.2s all ease-in-out;
            }
                #peimg2:hover {
                    opacity: 0.5;
                    cursor: pointer;
                }

            .nom-usuario {
                font-size: 18px;
                color: #fff;
                transition: 0.2s all ease-in-out;
            }
                .nom-usuario:hover {
                    color: darkorange;
                    cursor: pointer;
                }

    .inf-foro {
        padding: 30px;
    }
        .nom-foro {
            text-align: center;
            font-weight:900;
            font-size: 70px;
            font-family: 'Bebas Neue';
            letter-spacing: 2px;
            padding: 15px;
            background: -webkit-linear-gradient(143deg, rgba(2,51,181,1) 0%, rgba(16,255,248,1) 100%); 
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }

    .fecha {
        font-size: 14px;
        color: #898989;
        padding: 5px 0;
    }
    
        .img-foro {
            display: block;
            margin: auto;
            width: auto;
            height: 400px;
        }

    .comentarios {
        width:80%;
        height: auto;
        margin: 30px auto;
        color: white;
        font-size: 15px;
        padding: 30px;
    }
        .com-form {
            padding: 10px 0;
            display: flex;
            justify-content: end;
            gap: 5px;
        }
            #comentario {
                width: 175px;
                height: 25px;
                border: 1px solid cyan;
                border-radius: 3px;
                text-align: center;
                background-color: transparent;
                color: #fff;
                transition: 0.5s all ease-in-out;
            }
                #comentario:focus {
                    width: 900px;
                    height: 25px;
                    background-color: #202040;
                }

                #comentario::placeholder {
                    color: #fff;
                    font-family: 'Sen';
                }

            #btn-comentar {
                width: 75px;
                height: 25px;
                border: 1px solid cyan;
                border-radius: 3px;
                text-align: center;
                background-color: transparent;
                color: #fff;
                transition: 0.2s all ease-in-out;
                font-family: 'Sen';
            }
                #btn-comentar:hover {
                    cursor: pointer;
                    color: darkorange;
                    border: 1px solid darkorange;
                }

            .com {
                margin: 15px 0;
                padding: 15px;
                border: 1px solid cyan;
                border-radius: 5px;
            }
            
            .tr-com {
                display: grid;
                grid-template-columns: 15% 85%;
            }
            
            .th-info-user {
                display: grid;
                text-align: center;
            }
                .user {
                    display: grid;
                    align-items: center;
                }
                    .img-com {
                        object-fit: cover;
                        border: 2px solid #3F0071;
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                        transition: 0.2s all ease-in-out;
                    }
                        .img-com:hover {
                            opacity: 0.5;
                        }

                    .nom-com-usu {
                        font-size: 16px;
                        transition: 0.2s all ease-in-out;
                    }
                        .nom-com-usu:hover {
                            color: darkorange;
                        }
                
                .txt-com {
                    padding: 10px;
                }

    footer {
        background-color: #202040;
        color: white;
        display: grid;
        grid-template-rows: 90% 10%;   
    }
        #us {
            display: grid;
            grid-template-columns: 33% 34% 33%;
            padding: 25px;
        }
            .subtitles {
                font-size: 20px;
                text-align: center;
                height: auto;
            }
    
            #desc {
                display: grid;
                row-gap: 15px;
            }
    
            #soporte {
                display: grid;
            }
                #sop-p a {
                    transition: 0.2s all ease-in-out;
                }
                    #sop-p a:hover {                    
                        color: darkorange;
                    }   
    
            #redes-sociales {
                display: flex;
                justify-content: space-around;
            }
                .icon {
                    width: 25px;
                    height: 25px;
                }
    
                .sociales-f {
                    width: 40px;
                    height: 40px;
                    display: inline-flex;
                    border-radius: 40%;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    transition: all .2s;
                }
                    .sociales-f a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
    
                    .sociales-f:hover {
                        transform: scale(1.2) translateY(-5px);
                    }
                
                    #facebook {
                        background: rgb(0,8,78);
                        background: linear-gradient(143deg, rgba(0,8,78,1) 10%, rgba(0,41,238,1) 100%); 
                    }
    
                    #instagram {
                        background: rgb(89,14,173);
                        background: linear-gradient(343deg, rgba(89,14,173,1) 10%, rgba(255,57,57,1) 100%); 
                    }
    
    
                    #twitter {
                        background: rgb(2,51,181);
                        background: linear-gradient(143deg, rgba(2,51,181,1) 0%, rgba(16,255,248,1) 100%); 
                    }
            #pp-team {
                font-size: 15px;
                background-color: #000;
                display: flex;
                justify-content: center;
                align-content: center;
                padding: 10px;
            }

@media screen and (max-width:600px) {
    #nav-bar {
        display: grid;
        grid-template-columns: 70% 30%;
    }
        #logo ul li {
            width: 30px;
            height: 30px;
            font-size: 18px;
        }
        
        #logo #img-logo img {
            width: 30px;
            height: 30px;
        }

        .desc-foro {
            text-align: center;
        }

        .img-foro {
            width: 200px;
            height: auto;
        }

        #comentario:focus {
            width: 250px;
        }

    #us {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}

@media screen and (min-width:601px) and (max-width:950px) {
    
    #comentario:focus {
        width: 400px;
    }

    #us {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}